body{
  text-align: center;
  background-color: white;
}
main{
  border:5px solid white;
  margin: 40px 20% 40px 20%;
  border-radius: 10px;
  box-shadow: 0 0 5px 5px #ccc;
}
.output{
  font-weight: 800;
  font-size: 26px;
  text-transform:capitalize
}
h1{
  text-transform: uppercase;
  font-weight: 800;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.input-slider{
  width: 60%;
}